<div class="content-wrapper card-flow">
    {% assign sortedCards = site.landing | sort: 'order' %}
    {% for card in sortedCards %}
        <div class="{{ card.classes }}" data-aos="zoom-in">
            {% unless card.omit_heading %}
                <h2>
                {{ card.title }}
                </h2>
            {% endunless %}
            <div class="content-inner-wrapper {{ inner_classes }}">
                {{ card.content }}
            </div>
        </div>
    {% endfor %}

    {% include utils/simple-btn.html url="https://github.com/polypheny/Polypheny-DB/releases" display-text="Get Polypheny" css-classes="get-polpyheny-box" %}

    {% include utils/community-btns.html %}
</div>
